
    <div class="row">
    <div class="col-sm-4 col-md-5 col-lg-10">
        <h1>Create Categories</h1>
       <form action="/admin/categories/create" method="post">
            <div class="form-group">
                 <label for="name">Name</label><br>
                 <input type="text" name="name" placeholder="Enter category..." claas="form-control">    
            </div>
            <button class="btn btn-primary">Create category</button>
       </form>
    </div>
</div>
<hr>
<div class="row mt-5">
    <div class="col-sm-8 col-md-7 col-lg-9">
         <h1>Categories</h1>
         <table class="table">
             <thead>
                 <tr>
                     <th>ID</th>
                     <th>Name</th>
                     <th>Date</th>
                 </tr>
             </thead>           
             <tbody>
                  {{#each categories}}
                 <tr>
                     <td>{{id}}</td>
                     <td>{{name}}</td>
                     <td>{{generateTime date "MMMM Do YYYY"}}</td>
                     <td><a class="btn btn-info" href="/admin/categories/edit/{{id}}">EDIT</a></td>
                     <td>
                         <form action="/admin/categories/{{id}}?_method=DELETE" method="post">
                            <button type="submit" class="btn btn-danger">DELETE</button>
                        </form>
                     </td>
                 </tr>
                 {{/each}}
             </tbody>           
         </table>
    </div>
 </div>
