<h1>My posts</h1>

<table class="table table-bordered table-hover">
  <thead>
      <tr>
          <th>Id</th>
          <th>Image</th>
          <th>Title</th>
          <th>Status</th>
          <th>Category</th>
          <th>Allow Comments</th>
          <th class="text-center">View Posts</th>
          <th>Date</th>
          <th></th>
          <th></th>
      </tr>
  </thead>
  <tbody>
      {{#each Post}} <!--like foreach loop # means start / means end loop-->
      <tr>
          <td>{{id}}</td>
          <td><img width="80" height="60" class="img-responsive" src="/uploads/{{file}}"></td>
          <td>{{title}}</td>
          <td>{{status}}</td>
          <td>{{category.name}}</td>
          <td>{{allowComments}}</td>
          <td class="text-center"><a href="/blog-post/{{slug}}"><i class="fa fa-eye" aria-hidden="true"></i></a></td>
          <td>{{generateTime date 'MMMM Do YYYY'}}</td>
          <td class="text-center">
              <a class="btn btn-info" href="/admin/posts/edit/{{id}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
          </td>
          <td class="text-center">
              <form action="/admin/posts/{{id}}?_method=DELETE" method="post">
                 <button type="submit" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
              </form>
          </td>
      </tr>
      {{/each}}
  </tbody>
</table>
<div class="container">
    <div class="row">
      <div class="col-md-10">
      <ul class="pagination justify-content-center mb-4">
                {{#paginate current=current pages=pages}}{{/paginate}}
      </ul>
      </div>
    </div>
</div>